<% content_for :header_tags do %>
    <%= stylesheet_link_tag "redmine_hire.css", :plugin => "redmine_hire", :media => "screen" %>
<% end %>

<h3><%= t('redmine_hire.settings.hh_ru_title') %></h3>

<p>
  <label class='required' for="settings_hh_access_token">HH Employer ID</label>
  <input
    type="text"
    id="settings_hh_employer_id"
    value="<%= settings['hh_employer_id'] %>"
    name="settings[hh_employer_id]"
  >
</p>

<p>
  <label class='required' for="settings_client_id">Client ID</label>
  <input
    type="text"
    id="settings_client_id"
    value="<%= settings['client_id'] %>"
    name="settings[client_id]"
  >
</p>

<p>
  <label class='required' for="settings_client_secret">Client Secret</label>
  <input
    type="text"
    id="settings_client_secret"
    value="<%= settings['client_secret'] %>"
    name="settings[client_secret]"
  >
</p>

<% if [settings['client_id'], settings['client_secret']].all?(&:present?) %>
  <% oauth_client = Hh::OAuth.client %>

  <span><%= link_to t('redmine_hire.settings.auth'), oauth_client.auth_code.authorize_url(redirect_uri: Hh::OAuth.redirect_uri) %></span>
<% end %>

<h3><%= t('redmine_hire.settings.issue_settings') %></h3>
<p>
  <label class='required' for="settings[project_name]"><%= t('redmine_hire.settings.project_name') %></label>
  <%= select_tag 'settings[project_name]',
    options_for_select(Project.pluck(:name), Setting.plugin_redmine_hire['project_name']) %>
</p>

<p>
  <label class='required' for="settings[issue_status]"><%= t('redmine_hire.settings.issue_status_name') %></label>
  <%= select_tag 'settings[issue_status]',
    options_for_select(IssueStatus.pluck(:name), Setting.plugin_redmine_hire['issue_status']) %>
</p>

<p>
  <label class='required' for="settings[issue_tracker]"><%= t('redmine_hire.settings.issue_tracker_name') %></label>
  <%= select_tag 'settings[issue_tracker]',
    options_for_select(Tracker.pluck(:name), Setting.plugin_redmine_hire['issue_tracker']) %>
</p>

<p>
  <label for="settings[issue_author]"><%= t('redmine_hire.settings.issue_author_name') %></label>
  <%= select_tag 'settings[issue_author]',
    options_for_select(User.all.map { |u| [u.name, u.id] }, Setting.plugin_redmine_hire['issue_author']) %>
</p>

<% if Gem.loaded_specs.has_key?('sidekiq-cron') %>

  <h3><%= t('redmine_hire.settings.sidekiq.title') %></h3>
  <p>
    <label for="settings_hh_api_sync_cron"><%= t('redmine_hire.settings.sidekiq.schedule') %></label>
    <input
      type="text"
      id="settings_hh_api_sync_cron"
      value="<%= settings['hh_api_sync_cron'] %>"
      name="settings[hh_api_sync_cron]"
    >
  </p>

<% end %>

<% if Gem.loaded_specs.has_key?('sidekiq-cron') %>
  <hr>
  <p><%= link_to t('redmine_hire.settings.sidekiq.init'), '/redmine_hire/init_sidekiq_jobs' %></p>
  <p><%= link_to t('redmine_hire.settings.sidekiq.delete'), '/redmine_hire/destroy_sidekiq_jobs' %></p>
<% end %>
