<table>
  <tbody>
    <tr>
      <th>HH Access Token</th>
      <td>
        <input
          type="text"
          id="settings_hh_access_token"
          value="<%= settings['hh_access_token'] %>"
          name="settings[hh_access_token]"
        >
      </td>
    </tr>

    <tr>
      <th>HH Employer ID</th>
      <td>
        <input
          type="text"
          id="settings_hh_employer_id"
          value="<%= settings['hh_employer_id'] %>"
          name="settings[hh_employer_id]"
        >
      </td>
    </tr>

    <tr>
      <th>Project Name</th>
      <td>
        <input
          type="text"
          id="settings_project_name"
          value="<%= settings['project_name'] %>"
          name="settings[project_name]"
        >
      </td>
    </tr>

    <tr>
      <th>Issue Status Name</th>
      <td>
        <input
          type="text"
          id="settings_issue_status"
          value="<%= settings['issue_status'] %>"
          name="settings[issue_status]"
        >
      </td>
    </tr>

    <tr>
      <th>Issue Tracker Name</th>
      <td>
        <input
          type="text"
          id="settings_issue_tracker"
          value="<%= settings['issue_tracker'] %>"
          name="settings[issue_tracker]"
        >
      </td>
    </tr>

    <tr>
      <th>Issue Autor Login</th>
      <td>
        <input
          type="text"
          id="settings_issue_autor"
          value="<%= settings['issue_autor'] %>"
          name="settings[issue_autor]"
        >
      </td>
    </tr>

    <tr>
      <th>Redmine API Key</th>
      <td>
        <input
          type="text"
          id="settings_redmine_api_key"
          value="<%= settings['redmine_api_key'] %>"
          name="settings[redmine_api_key]"
        >
      </td>
    </tr>
  </tbody>
</table>


