<table>
  <tbody>
    <tr>
      <th>HH Access Token</th>
      <td>
        <input
          type="text"
          id="settings_hh_access_token"
          value="<%= settings['hh_access_token'] %>"
          name="settings[hh_access_token]"
        >
      </td>
    </tr>

    <tr>
      <th>HH Employer ID</th>
      <td>
        <input
          type="text"
          id="settings_hh_employer_id"
          value="<%= settings['hh_employer_id'] %>"
          name="settings[hh_employer_id]"
        >
      </td>
    </tr>

    <tr>
      <th>Project Name</th>
      <td>
        <%= select_tag 'settings[project_name]',
          options_for_select(Project.pluck(:name), Setting.plugin_redmine_hire['project_name']) %>
      </td>
    </tr>

    <tr>
      <th>Issue Status Name</th>
      <td>
        <%= select_tag 'settings[issue_status]',
          options_for_select(IssueStatus.pluck(:name), Setting.plugin_redmine_hire['issue_status']) %>
      </td>
    </tr>

    <tr>
      <th>Issue Tracker Name</th>
      <td>
        <%= select_tag 'settings[issue_tracker]',
          options_for_select(Tracker.pluck(:name), Setting.plugin_redmine_hire['issue_tracker']) %>
      </td>
    </tr>

    <tr>
      <th>Issue Author Login</th>
      <td>
        <%= select_tag 'settings[issue_author]',
          options_for_select(User.pluck(:login), Setting.plugin_redmine_hire['issue_author']) %>
      </td>
    </tr>

    <tr>
      <th>Redmine API Key</th>
      <td>
        <input
          type="text"
          id="settings_redmine_api_key"
          value="<%= settings['redmine_api_key'] %>"
          name="settings[redmine_api_key]"
        >
      </td>
    </tr>

    <% if Gem.loaded_specs.has_key?('sidekiq-cron') %>
      <tr>
        <th>HH Api Sync Cron</th>
        <td>
          <input
            type="text"
            id="settings_hh_api_sync_cron"
            value="<%= settings['hh_api_sync_cron'] %>"
            name="settings[hh_api_sync_cron]"
          >
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<% if Gem.loaded_specs.has_key?('sidekiq-cron') %>
  <%= link_to 'Инициировать cron расписание', '/redmine_hire/init_sidekiq_jobs' %>

  <%= link_to 'Удалить cron расписание', '/redmine_hire/destroy_sidekiq_jobs' %>
<% end %>
